Este notebook tiene como proposito la implementaciÓn de mysql usando python

In [3]:
##python -m pip install mysql-connector-python
##linea de codigo para instalar el conector mysql

In [4]:
import mysql.connector  #importamos el modulo mysql

"""Creamos un objecto del tipo mysql y metemos las configuraciones  de mi cuenta de mysql"""
mydb = mysql.connector.connect( 
    host = 'localhost',
    user = 'root',
    password = '123456789'
)

In [5]:
#imprimimos el object creado
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000023757B65810>

In [6]:
type(mydb)  #tipo

mysql.connector.connection_cext.CMySQLConnection

            create a database named mydatabase

In [7]:
import mysql.connector

midb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '123456789'
)

mycursor = midb.cursor()

In [13]:
mycursor.execute("CREATE DATABASE mydatabase")  ##Crear base de datos

In [14]:
mycursor.execute("SHOW DATABASES") #MOSTRAR BASES DE DATOS

In [15]:
for x in mycursor:
    print(x)

('henry_checkpoint_m3',)
('henry_m3',)
('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sys',)

In [16]:
## Intentar conectarse a la base de datos creada 

import mysql.connector

midb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '123456789',
    database = 'mydatabase'
)  ##si la base de datos no existiera este codigo daria algun error

In [17]:
micursor = midb.cursor()  #CREAR CURSOR

In [18]:
#create table in the database
micursor.execute("CREATE TABLE customer (name VARCHAR(255), addres VARCHAR(255))")

In [19]:
#show tables
micursor.execute("SHOW TABLES")

In [20]:
for x in micursor:
    print(x)

('customer',)

In [21]:
#Al crear una tabla debemos crear una clave primary y unica ya como esta creada debemos modificarla

micursor.execute("ALTER TABLE customer ADD COLUMN id INT NOT NULL AUTO_INCREMENT PRIMARY KEY")

In [22]:
#Insertando un registor en la tabla customers
sql = "INSERT INTO customer (name, addres) VALUES (%s, %s)"
val = ("John", "Highway 21")

micursor.execute(sql, val)

midb.commit()

In [23]:
print(micursor.rowcount, "record inserted.")

1 record inserted.

                                    IMPORTANTE
¡Importante!: Note la declaración: mydb.commit(). Es obligatorio realizar los cambios, de lo contrario no se realizan cambios en la tabla.

In [24]:
sql2 = "INSERT INTO customer (name, addres) VALUES (%s, %s)"
val2 = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

In [25]:
micursor.executemany(sql2, val2)
midb.commit()

In [26]:
print(micursor.rowcount, "was inserted")

13 was inserted

In [27]:
sql3 = "INSERT INTO customer (name, addres) VALUES (%s, %s)"
val3 = ("Michelle", "Blue Village")
micursor.execute(sql3, val3)
midb.commit()

In [28]:
print("1 record inserted, Id:", micursor.lastrowid)

1 record inserted, Id: 15

In [29]:
##Usando el select * from 


micursor.execute("SELECT * FROM customer")

In [30]:
miresultado = micursor.fetchall() #Usamos el fetchall() método, que obtiene todas las filas de la última declaración ejecutada.

In [31]:
for x in miresultado:
    print(x)

('John', 'Highway 21', 1)
('Peter', 'Lowstreet 4', 2)
('Amy', 'Apple st 652', 3)
('Hannah', 'Mountain 21', 4)
('Michael', 'Valley 345', 5)
('Sandy', 'Ocean blvd 2', 6)
('Betty', 'Green Grass 1', 7)
('Richard', 'Sky st 331', 8)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Ben', 'Park Lane 38', 11)
('William', 'Central st 954', 12)
('Chuck', 'Main Road 989', 13)
('Viola', 'Sideway 1633', 14)
('Michelle', 'Blue Village', 15)

In [32]:
##seleccionar solo unas columna 

micursor.execute("SELECT name, addres FROM customer")

miresultado = micursor.fetchall()

In [33]:
for x in miresultado:
    print(x)

('John', 'Highway 21')
('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')
('Michelle', 'Blue Village')

In [34]:
##Usando la sentencia where
micursor.execute("SELECT * FROM customer WHERE addres = 'Central st 954'")
miresult = micursor.fetchall()

for x in miresult:
    print(x)

('William', 'Central st 954', 12)

In [36]:
##usando el operador like "%%"

micursor.execute("SELECT * FROM customer WHERE addres LIKE '%way%'")
miresult = micursor.fetchall()

for x in miresult:
    print(x)

('John', 'Highway 21', 1)
('Susan', 'One way 98', 9)
('Viola', 'Sideway 1633', 14)

In [37]:
##order by  ASC por defecto

micursor.execute("SELECT * FROM customer ORDER BY name")
miresultado = micursor.fetchall()

for x in miresultado:
    print(x)

('Amy', 'Apple st 652', 3)
('Ben', 'Park Lane 38', 11)
('Betty', 'Green Grass 1', 7)
('Chuck', 'Main Road 989', 13)
('Hannah', 'Mountain 21', 4)
('John', 'Highway 21', 1)
('Michael', 'Valley 345', 5)
('Michelle', 'Blue Village', 15)
('Peter', 'Lowstreet 4', 2)
('Richard', 'Sky st 331', 8)
('Sandy', 'Ocean blvd 2', 6)
('Susan', 'One way 98', 9)
('Vicky', 'Yellow Garden 2', 10)
('Viola', 'Sideway 1633', 14)
('William', 'Central st 954', 12)

In [38]:
#order by DESC

micursor.execute("SELECT * FROM customer ORDER BY name DESC")

miresult = micursor.fetchall()

for x in miresult:
    print(x)

('William', 'Central st 954', 12)
('Viola', 'Sideway 1633', 14)
('Vicky', 'Yellow Garden 2', 10)
('Susan', 'One way 98', 9)
('Sandy', 'Ocean blvd 2', 6)
('Richard', 'Sky st 331', 8)
('Peter', 'Lowstreet 4', 2)
('Michelle', 'Blue Village', 15)
('Michael', 'Valley 345', 5)
('John', 'Highway 21', 1)
('Hannah', 'Mountain 21', 4)
('Chuck', 'Main Road 989', 13)
('Betty', 'Green Grass 1', 7)
('Ben', 'Park Lane 38', 11)
('Amy', 'Apple st 652', 3)

In [39]:
##Eliminar por 

micursor.execute("DELETE FROM customer WHERE addres = 'Mountain 21'")
midb.commit()

print(micursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [40]:
##eliminar la tabla si existe

micursor.execute("DROP TABLE IF EXISTS customer")